.header-tags {
    margin-bottom: 2rem;

    ul {
        display: flex;
        padding-left: 0;
        margin-bottom: 0;
        flex-wrap: wrap;
        li {
            list-style-type: none;
            margin-right: calc(var(--margin-xs) / 2);

            a {
                text-wrap: nowrap;
                font-size: 11px;
                letter-spacing: 1px;
                background-color: var(--color-white);
                color: var(--color-secondary);
                padding: calc(var(--padding-sm) / 2) var(--padding-sm);
                font-weight: 600;
                border: 1px solid var(--color-secondary);
                &:hover {
                    background-color: var(--color-primary);
                    color: var(--color-white);
                }
            }
        }
    }
}
