:root {
    font-size: 16px;

    // ********* PADDING *********
    --padding-xs: 0.5rem;
    --padding-sm: 1rem;
    --padding-md: 2rem;
    --padding-lg: 4rem;

    // ********* MARGINS *********
    --margin-xxs: 0.25rem;
    --margin-xs: 0.5rem;
    --margin-sm: 1rem;
    --margin-md: 2rem;
    --margin-lg: 4rem;

    // ********* SPACE ( To replace margin and padding) *********

    --space-x-small: 0.25rem;
    --space-small: 0.5rem;
    --space-regular: 0.5rem;
    @include media-screen(sm-up) {
        --space-regular: 1rem;
    }

    --space-large: 1.5rem;

    // ********* COLORS *********
    --color-black: black;
    --color-blackish: rgb(42, 34, 34);
    --color-red: red;
    --color-white: aliceblue;
    --color-grey: rgb(158, 152, 152);

    --color-dark-grey: #36393b;
    --color-accent-peach: #ff8989;
    --color-accent-blue: #89ccff;
    --color-accent-green: #89ff97;

    --color-darker-grey: rgb(34, 31, 31);
    --color-light-grey: rgb(158, 152, 152);
    --color-lightest-grey: #fafafa;

    --color-primary: var(--color-red);
    --color-secondary: var(--color-dark-grey);

    --color-border: rgba(201, 183, 183, 0.609);

    // ********* FONTS *********

    --font-heading: "arial", sans !important;
    --font-body: "arial", sans !important;

    // ********* FONT SIZE *********
    --fs-heading-x-small: 0.8rem;
    --fs-heading-small: 1.2rem;
    --fs-heading-regular: 1.4rem;
    --fs-heading-large: 1.5rem;
    --fs-heading-xlarge: 3rem;

    --fs-body-extra-small: 0.6rem;
    --fs-body-small: 0.8rem;
    --fs-body-regular: 1.2rem;
    --fs-body-large: 1.4rem;

    --border-radius-reg: 10px;
    --box-shadow-reg: 0 4px 20px rgba(0, 0, 0, 0.06);

    // ********* FONT WEIGHTS *********
    --fw-light: 200;
    --fw-medium: 400;
    --fw-bold: 600;

    // ********* LINE HEIGHTS *********
    --lh-x-small: 1;
    --lh-small: 1.2;
    --lh-regular: 1.4;
    --lh-large: 1.6;
}

@include media-screen(md-up) {
    :root {
        --fs-heading-x-small: 1.2rem;
        --fs-heading-small: 1.4rem;
        --fs-heading-regular: 1.8rem;
        --fs-heading-large: 2.5rem;
        --fs-body-small: 1rem;
        --fs-body-regular: 1.2rem;
        --fs-body-large: 1.4rem;
    }
}
