#homepage-newsletter {
    padding: 1rem;
    background: var(--color-darker-grey);
    margin: 1rem;
    .inner {
        // min-height: 200px;
        background-color: var(--color-darker-grey);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        @include media-screen(md-up) {
            padding: 2rem;
        }
    }
    p {
        text-align: center;
        font-size: 18px;
        line-height: 1;
        color: var(--color-white);
        margin-bottom: 0.5rem;
    }

    .form-input {
        width: 100%;

        > div {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}
