.sign-up-mobile-box {
    height: 300px;
    display: block;
    padding: var(--padding-sm);
    text-align: center;
    border: 2px solid var(--color-black);
    margin-bottom: var(--margin-md);
    @include media-screen(md-up) {
        display: none;
    }

    h2 {
        font-family: "Roboto", sans;
        font-weight: 700;
        font-style: normal;
        font-size: 30px;
        color: var(--color-primary);
        text-decoration: underline;
        line-height: 40px;
    }

    p {
        font-size: 20px;
        text-align: center;
        font-weight: 400;
        font-style: normal;
        color: var(--color-black);
    }
}
