.page-template-about {
    main {
        padding: 0;
    }
    .image-heading {
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: anchor-center;
        flex-direction: column;
        background: url("../../assets/img/about-us-hero.webp");

        h1,
        p {
            text-align: center;
            background-color: var(--color-secondary);
            padding: 0.5rem;
            width: fit-content;
            margin: 1rem;
            color: var(--color-white);
        }

        p {
            font-weight: var(--fw-bold);
        }
    }

    .intro,
    .authors {
        padding: 2rem 1rem 1rem;
        text-align: center;
    }
    // .intro {
    //     @include media-screen(md-up) {
    //         max-width: 50%;
    //         margin: 0 auto;
    //     }
    // }

    .intro {
        padding-top: 2rem;
        h2,
        p {
            // color: white;
        }

        p {
            font-size: var(--fs-body-large);
        }
    }

    .authors {
        background-color: var(--color-secondary);
        h2,
        p {
            color: white;
        }

        p {
            // @include media-screen(md-up) {
            //     width: 50%;
            //     margin: 0 auto;
            // }
        }

        .author-cards {
            padding-top: 2rem;
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;
            @include media-screen(md-up) {
                grid-template-columns: repeat(3, 1fr);
            }

            .author-card {
                border: 2px solid white;
                width: 100%;
                // border-radius: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // max-width: 350px;
                background: var(--color-white);
                h2 {
                    color: var(--color-secondary);
                    font-size: var(--fs-heading-regular);
                    margin: var(--space-sm);
                }

                p {
                    font-size: var(--fs-body-small);
                    color: var(--color-secondary);
                }

                a {
                    padding: 0.5rem;
                    background-color: var(--color-secondary);
                    display: block;
                    width: fit-content;
                    width: 100%;

                    color: var(--color-white);
                    padding: 0.5rem 1rem;
                    font-weight: 600;
                    font-size: var(--fs-body-small);
                    // border-radius: 5px;
                }
                // &:last-child {
                //     grid-column: 1 / -1;
                //     justify-self: center;
                //     width: 32.33%;
                // }
            }

            .author-avatar {
                width: 50%;

                width: 25%;
                margin: 1rem auto;
                aspect-ratio: 1;
                background-color: rgb(236, 41, 73);
                background-color: black;
                border-radius: 100%;
                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 100%;
                }
            }

            .author-bio {
                margin: 1rem;
            }
        }
    }

    .banner-explore {
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-white) !important;
        h2,
        p {
            color: var(--color-secondary) !important;
        }
        p {
            text-align: center;
            margin-bottom: 1rem;
        }

        .links {
            height: auto;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            @include media-screen(md-up) {
                display: block;
            }
        }

        a {
            background-color: var(--color-secondary);
            width: 100%;
            text-align: center;
            margin: 0.5rem 0;
            padding: 0.5rem 1rem;
            font-weight: 600;
            border-radius: 5px;
            font-size: 18px;
            border: 2px solid var(--color-white);
            color: white;
        }
        a.btn-secondary {
            background-color: var(--color-secondary);
            color: var(--color-white);
        }
    }
}

body.author {
    h1.title {
        color: white !important;
    }
}
